body{
	font-family: Verdana, Geneva, sans-serif;
	background-image:url(../images/body.png);
	font-size: 15px;
}

/************************ NAVIGATION ************************/
nav{
	height: 90px;
	background-color: #EC4B2E;
	margin-bottom: 50px;
	font-size: 18px;
}


nav li{
	display: inline;
	
}

nav #logo{
	padding-top: 10px;
	float:left;	
	
}

nav #main{
	width: 750px;
	/* float: left; */
	/* overflow: auto; */
	/* margin-top: 13px; */
	margin: 0 auto;
	
	padding-top: 35px;
}

nav #login{
	/* float: right; */
	/* overflow: auto; */
	/* margin-top: 5px; */
	position: absolute;
	right: 20px;
	top: 20px;
}

nav a{
	text-decoration: none;
	color: white;
	padding:20px;
	padding-top: 35px;
	padding-bottom: 33px;
	
}

nav a:hover{
	text-decoration: none; 
	
	background-color: #D3361C;
	
}

#login input[type="text"], #login input[type="password"] {
	width: 100px;
	font-size: 12px;
	margin-bottom: 5px;
}

#login input[type="button"]{
	font-size: 12px;
}


input[type="text"]
{
border-radius: 5px;
}

input[type="password"]
{
border-radius: 5px;
}

input[type="button"]
{
border-radius: 5px;
background-color: #00A0AE;
color:white;
}


select
{
border-radius: 5px;
}

textarea
{
border-radius: 5px;
}

#logo a:hover{
	background-color: transparent;
}
/************************ NAVIGATION ************************/

/************************ CONTENT ************************/
article{
	overflow: auto;
	width:100%;
    max-width:960px;
	margin: 0 auto;
	background-color: #F4F4F4;
	padding: 30px;
}

h1, h2, h3{
	color: #00A0AE;
	margin-bottom: 15px;

}

h1{
	font-size: 30px;
}

h2{
	font-size: 20px;
}

#list h2{
	float: left;
}

#list h3{
	float: left;
	padding-top: 4px;
	padding-left: 5px;
}

h3{
	font-size: 15px;
}

textarea{
	width: 100%;
	resize: none;
	height: 150px;
}

#leftCol{
	float: left;
	width: 48%;
}

#post{
	float: right;
	width: 48%;
}
#post .feedback{
	font-size: 12px;
	color: green;
}

#list .topPost{
	height: 45px;
}
/************************ CONTENT ************************/