body{
	font-family: Verdana, Geneva, sans-serif;
	background-image:url(../images/body.png);
	font-size: 15px;
}

/************************ NAVIGATION ************************/
nav{
	height: 90px;
	background-color: #EC4B2E;
	margin-bottom: 50px;
	font-size: 16px;
}


nav li{
	display: inline;
	padding: 0 20px;
}

nav #logo{
	padding-top: 10px;
	float:left;	
	
}

nav #main{
	width: 750px;
	/* float: left; */
	/* overflow: auto; */
	/* margin-top: 13px; */
	margin: 0 auto;
	padding-top: 30px;
}

nav #login{
	/* float: right; */
	/* overflow: auto; */
	/* margin-top: 5px; */
	position: absolute;
	right: 5px;
	top: 6px;
}

nav a{
	text-decoration: none;
	color: white;
}

nav a:hover{
	color: #487B78;
}

#login{
	top: 20px;
}

#login input[type="text"], #login input[type="password"] {
	width: 150px;
	font-size: 12px;
	margin-bottom: 5px;
}

#login input[type="button"]{
	font-size: 12px;
}
/************************ NAVIGATION ************************/

/************************ CONTENT ************************/
article{
	overflow: auto;
	width:100%;
    max-width:960px;
	margin: 0 auto;
}

h1, h2, h3{
	color: #00A0AE;
	margin-bottom: 15px;

}

h1{
	font-size: 30px;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 15px;
}

textarea{
	width: 100%;
	resize: none;
	height: 150px;
}

#leftCol{
	float: left;
	width: 48%;
}

#post{
	float: right;
	width: 48%;
}
#post .feedback{
	font-size: 12px;
	color: green;
}
/************************ CONTENT ************************/